@font-face {
  font-family: 'Comic Neue';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/comicneue/v8/4UaHrEJDsxBrF37olUeD96rp5w.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
    font-family: 'Playfair Display';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/playfairdisplay/v30/nuFvD-vYSZviVYUb_rj3ij__anPXJzDwcbmjWBN2PKdFvXDXbtM.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }

body {
    background-image: url("color.jpg");
}

.backbutton {
    margin-top: 0;
    width: 100%;
    height: auto;
    background-color: #fffbfb2c;
    margin: none ;
  
  }
  
a {
    display:inline-block;
    padding:0.35em 1.2em;
    margin:0 0.3em 0.3em 0;
    border-radius:0.12em;
    box-sizing: border-box;
    text-decoration:underline;
    font-family:'Playfair Display';
    font-weight:300;
    color:#caa0d3;
    text-align:center;
    transition: all 0.2s;
    font-size: 35px;
    }
a:hover{
    color:white;
  }
  @media all and (max-width:30em){
  a {
    display:block;
    margin:0.4em auto;
    }
  }

li {
    display: inline-block;
    margin: 30px 30px;
    border: 10px solid #8a5a838a;
    border-radius: 50px;
}

h1 {
    font-family:'Comic Neue', cursive;
    color: #e6ddec;
    height: 800px;
    width: 300px;
    text-align: center;
}

h2 {
    font-family:'Comic Neue', cursive;
    color: #e6ddec;
    text-align: center;
}

.green {
    background-color: #87B38D;

}

.purple {
    background-color: #22031F;
}

.orchid {
    background-color: #CC76A1;
}

.blush {
    background-color: #DD9296;
}

.pink {
    background-color: #DD9296;
}

.thistle {
    background-color: #D1BCE3;
}

.liliac {
    background-color: #8D94BA;
}

.grey {
    background-color: #8C92AC;
}