@font-face {
    font-family: 'Playfair Display';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/playfairdisplay/v30/nuFvD-vYSZviVYUb_rj3ij__anPXJzDwcbmjWBN2PKdFvXDXbtM.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }
  
header {
    font-family:'Playfair Display', serif;
    text-align: center;
    margin-top: 200px;
    margin-bottom: 100px;
    font-size: 60px;
    color: #fab3e1;
}

nav {
    background-color: #f7bfe356;
    display:flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: auto;
}

li {
    display: inline-block;
    text-align: justify;
    font-family: 'Playfair Display', serif;
    font-size: 50px;
    margin: 70px 25px;
}

li a {
    color: #2e1726;
    text-decoration: none;     
}

li a:active {
    color: #e2dada; 
    opacity: 0.5;
}

li a:hover {
    color: #ffffff; 
}


body {
    background-image: url("wallpaper.jpg");
    z-index: 0;
}

footer {
    display: absolute;
    width: 100%;
    height: auto;
    background-color: #330625;
    position: absolute;
    bottom: 0;
}

h4 {
   text-align: right; 
   margin-right: 20px;
   color: #fab3e1;
   font-family: 'Playfair Display', serif;;
}